doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css")
        title Express Template
    body 
        h1.margin-bot Express Template
        p.margin-min Welcome to Express Template, a simple template for Express.js
        p.margin-min This template uses Pug as the view engine, and <i class="fa-brands fa-sass colored-sass"></i> as the CSS preprocessor.
        p.margin-min To get started, run npm install, then npm start.
        p.muted If you like the template, please give it a <a href="https://github.com/Kobytes/express-template"><i class='fa-solid fa-star colored-star'></i></a> on Github. 
        img(src="https://seeklogo.com/images/N/nodejs-logo-FBE122E377-seeklogo.com.png", class="resize rotation", alt="escanor")
        a(href="https://github.com/Kobytes/express-template" class="github-link")
            img(src="https://avatars.githubusercontent.com/u/68253359?v=4", alt="kobytes")
        p.margin You can modify me in 
            span.colored app/views/index.pug